.input {
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 3px;
  outline: none;
  border: none;

  &:focus {
    background-color: var(--grey-modal);
    color: var(--yellow-modal);
    border: 1px solid var(--yellow-modal);
    &::placeholder {
      color: var(--white);
      opacity: 0.5;
    }
  }

  &--expand {
    width: 100%;
  }

  &--error {
    border: 1px solid var(--red-modal);
    &::placeholder {
      color: var(--red-modal);
    }
  }

  &__errors {
    padding: 10px 0;
    color: var(--red-modal);
    text-align: left;
  }
}
