.success {
  &__container {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
  }

  &__logo {
    width: 270px;
    height: 270px;
  }

  &__title {
    margin-top: 0em;
    color: var(--white);
    text-align: center;
    font-size: 20px;
  }
}
