.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;

  &__container {
    position: relative;
    max-width: 540px;
    width: 100%;
    background-color: var(--background-modal);
    transition: all 0.35s ease;
  }

  &__logo {
    margin: 30px 0 10px;
  }

  &__invalid,
  &__form {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

  &__invalid {
    padding: 10px 30px;
    color: var(--red-modal);
    border: 1px solid var(--red-modal);
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    color: var(--grey-color);
  }

  &__title {
    margin: 0 0 12px;
    color: var(--yellow-modal);
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
  }

  .form__submit,
  .form__account {
    height: 40px;
    padding: 0 18px;
    border-radius: 3px;
    font-size: 1rem;
  }

  .form__submit {
    background-color: var(--grey-modal);
    color: var(--white);
    transition: background-color 0.3s ease;
  }

  .form__submit:hover,
  .form__submit:focus {
    background-color: var(--blue-modal);
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 38px;
    max-width: 38px;
    background-color: transparent;
    color: var(--white);
    opacity: 0.2;
    z-index: 1;

    ion-icon {
      font-size: 40px;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
