.slider {
  position: relative;
  max-height: 800px;
  margin-top: 50px;
  margin-bottom: 30px;
  overflow: hidden;

  &__button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    padding: 4px;
    font-size: 30px;
    color: var(--white);
    background-color: rgba(32, 32, 32, 0.5);
    border-radius: 50%;
    user-select: none;
    transition: background_color 0.15s linear;
    z-index: 10;

    &--left {
      left: 24px;
    }

    &--right {
      right: 24px;
    }
    &:hover {
      background-color: rgba(20, 20, 20, 0.5);
    }
  }

  &__container {
    display: flex;
  }

  &__item {
    position: relative;
    transition: transform 1s ease;
    &--light {
      color: var(--white);
    }
  }

  &__image {
    width: 100vw;
    height: 800px;
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 150px;
    width: 30%;
    text-align: left;
    z-index: 10;

    h1 {
      font-size: 40px;
      font-weight: bold;
    }

    h3 {
      font-style: italic;
      margin-bottom: 50px;
    }

    a {
      padding: 15px 32px;
      color: var(--white);
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 2px;
    }

    &--red a.button1 {
      background-color: var(--red-modal);
      margin-right: 10px;
    }

    &--red a.button2 {
      background-color: var(--grey-dark);
      border: 2px solid white;
    }

    &--orange a.button1 {
      background-color: var(--orange-color);
      margin-right: 10px;
    }

    &--orange a.button2 {
      background-color: var(--grey-dark);
      border: 2px solid white;
    }

    &--brown a.button1 {
      background-color: var(--brown-color);
      margin-right: 10px;
    }

    &--brown a.button2 {
      background-color: var(--grey-dark);
      border: 2px solid white;
    }

    &--blue a.button1 {
      background-color: var(--blue-color);
      margin-right: 10px;
    }
  }
}
